.nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-decoration: none;
 height: 65px;
 max-width: 1920px;
 background: white;
}

.link {
 margin: 10px;

}

.name {
 color: rgb(0, 0, 0);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 20px;
 font-weight: lighter;
 text-align: center;
}

a {
 text-decoration: none;
}

.icon img {
 width: 50px;
 height: 50px;
 justify-content: flex-start;
 padding-right: 20px;
 padding-left: 20px;
}

.iconWrapper {
 display: flex;
 justify-content: flex-end;

}

.button {
 display: flex;
 justify-content: flex-end;
}

.title {
 color: rgb(0, 0, 0);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 20px;
 font-weight: lighter;
 align-self: center;
}

@media (min-width: 375px) and (max-width: 434px) {
 .nav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
 }

 .iconWrapper {
  padding-top: 10px;
 
 }

 .icon img {  
  padding-right: 20px;
  padding-left: 0px;
 } 
}