.nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-decoration: none;
 height: 65px;
 max-width: 1920px;
}

.link {
 margin: 10px;

}

.name {
 color: rgb(0, 0, 0);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 20px;
 font-weight: lighter;
 text-align: center;
}

a {
 text-decoration: none;
}

.icon img {
 width: 50px;
 height: 50px;
 justify-content: flex-start;


}

.iconWrapper {
 display: flex;
 justify-content: flex-end;
}

.button {
 display: flex;
 justify-content: flex-end;
}

.title {
 width: 100%;
 margin: 0 auto;
}