.nav {
 display: flex;
 justify-content: center;
 padding: 10px;
 text-decoration: none;
 height: 50px;
}

.link {
 padding: 10px;

}

.name {
 color: rgb(0, 0, 0);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 20px;
 font-weight: lighter;
 text-align: center;
}

a {
 text-decoration: none;
}