.pogination {
 list-style: none;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.2rem;
 gap: 10px;
 background-color: rgb(60, 62, 68);
 color: white;
 margin: 0;
 padding: 15px 0 15px 0;
 max-width: 1920px;
}

.page-num {
 padding: 8px 15px;
 cursor: pointer;
 border-radius: 3px;
 font-weight: 400;
}

.page-num:hover {
 background-color: rgb(255, 255, 255);
 color: rgb(60, 62, 68);
}

.active {
 background-color: rgb(255, 255, 255);
 color: rgb(60, 62, 68);
}

@media (min-width: 1901px) and (max-width: 1930px) {
 .pogination {
  padding: 15px 0 15px 0;
  gap: 30px
 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 650px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 650px;
 }
}

@media (min-width: 1851px) and (max-width: 1900px) {
 .pogination {
  padding: 15px 0 15px 0;
  gap: 30px
 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 630px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 630px;
 }
}

@media (min-width: 1751px) and (max-width: 1850px) {
 .pogination {
  padding: 15px 0 15px 0;
  gap: 30px
 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 580px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 580px;
 }
}

@media (min-width: 1651px) and (max-width: 1750px) {
 .pogination {
  padding: 15px 0 15px 0;
  gap: 30px
 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 530px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 530px;
 }
}

@media (min-width: 1551px) and (max-width: 1650px) {
 .pogination {
  padding: 15px 0 15px 0;
  gap: 30px
 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 480px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 480px;
 }
}

@media (min-width: 1441px) and (max-width: 1550px) {
 .pogination {
  padding: 15px 0 15px 0;
  gap: 30px
 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 420px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 420px;
 }
}

@media (min-width: 1301px) and (max-width: 1440px) {
 .pogination {
  padding: 15px 0 15px 0;
  gap: 30px
 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 330px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 330px;
 }
}

@media (min-width: 1248px) and (max-width: 1300px) {
 .pogination {
  padding: 15px 0 15px 0;
  gap: 30px
 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 300px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 300px;
 }
}

@media (min-width: 1025px) and (max-width: 1247px) {
 .pogination {
  padding: 15px 0 15px 0;
  gap: 30px
 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 200px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 200px;
 }
}

@media (min-width: 651px) and (max-width: 1024px) {
 .pogination {
  padding: 15px 0 15px 0;
  gap: 30px
 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 10px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 10px;
 }
}

@media (min-width: 546px) and (max-width: 650px) {
 .pogination {
  padding: 15px 0 15px 0;
  gap: 20px
 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 10px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 10px;
 }
}

@media (min-width: 446px) and (max-width: 546px) {
 .pogination {
  padding: 15px 0 15px 0;

 }

 .page-num {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 10px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 10px;
 }
}

@media (min-width: 375px) and (max-width: 445px) {
 .pogination {
  padding: 15px 0 15px 0;

 }

 .page-num {
  padding: 4px 4px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  position: static;
 }

 .next {
  position: absolute;
  right: 0;
  padding-right: 10px;
 }

 .previous {
  position: absolute;
  left: 0;
  padding-left: 10px;

 }
}